<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
​
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
​
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
​
    <title>Intercorp</title>
  </head>
  <body>
     <div id="title"> 
            <h1 >Intercorp</h1>
     </div> 
    
     <div id="btn-new-client">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">Agregar cliente + </button>
     </div>
​
     <div id="data-clients">
         <h1 id="prom">Edad promedio <span></span></h1>
         <h1 id="desv">Desviación estandar <span></span></h1>
     </div>
​
     <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Proyección y análisis</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of items">
              <tr>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td [ngModel]="birthday">{{item.age}}</td>
                <td>{{item.edad}}</td>
                <td>
                        <button type="button" class="btn btn-info">Ver + </button>
                </td>
              </tr>
            </tbody>
          </table>
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Datos nuevo cliente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form id="form-new-client" class="new-client" [formGroup]="newClient" (ngSubmit)="onSubmit(newClient.value)">
                            <div class="form-group">
                              <label for="inputName">Nombre</label>
                              <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Nombre" formControlName="name">
                            </div>
                            <div class="form-group">
                              <label for="inputApellido">Apellido</label>
                              <input type="text" class="form-control" id="inputApellido" placeholder="Apellido" formControlName="surname">
                            </div>
                            <div class="form-group">
                                    <label for="inputFecha">Fecha de nacimiento</label>
                                    <input type="date" class="form-control datepicker" id="inputFecha" placeholder="dd/mm/aaaa" formControlName="age">
                            </div>
​
                            <div id="btn-create-client">
                                    <button type="submit" class="btn btn-primary">Crear cliente</button>
                            </div>                            
                    </form>
              
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
​
  </body>
</html>